@use '../variables';

.node--view-mode-teaser {
    h1, h2 {
        color: variables.$primary-color;
        a {
            color: variables.$primary-color;        
        }
    }
    h3 {
        color: variables.$primary-color;
        a {
            color: variables.$terciary-color;
        }
    }    
    h1, h2, h3 {
        &:hover{
            opacity: 95%;
        }
    }
    img {
        &.image-style-wide {        
            max-width:100%;
            max-height:100%;
            vertical-align: middle;
        }
    } 
}
