// import files
@use 'variables';
@use 'base';
@use 'header';
@use 'footer';
@use 'article/article';
@use 'article/teaser';
@use 'pages/frontpage';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


a {
    color: variables.$secondary-color;
    text-decoration: none;
    &:hover {
        opacity: 95%;
    }
}

ul, li {
    list-style-type: none;
}

h1, h2 {
    color: variables.$primary-color;
    a {
        color: variables.$primary-color;        
    }
}

h3 {
    color: variables.$terciary-color;
    a {
        color: variables.$terciary-color;               
    }
}

h1, h2, h3 {
    a {
        &:hover{
            opacity: 95%;
        }
    }
}

body, html {
    background-color: variables.$background-color;
    background-image: none;
    font-family: "Merriweather", serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

#search-block-form {
    gap: 5px;
}

.node__submitted,
.node__meta {
    font-size: 12px;
    font-style: italic;
    color: grey;
}

.feed-icons {
    margin: 20px 0;
}